<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link th:href="@{/css/cart.css}" rel="stylesheet" />
<script  src="/js/jquery.js" type ="text/javascript"></script>
<script  src="/js/homeDish.js" type ="text/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>Delete form</title>
</head>
<body>
<div id="top">
    <div id ="logo">
        <img src="/pictures2/logo2.png" style="width: 220px ;height: 100px">
    </div>
    <div id ="top2">
        <div id ="menu">
            <ul>
                <li><a href="#" title="HOME"><strong>HOME</strong></a></li>
                <li><a href="#" title="INTRODUCE"><strong>NGUYÊN LIỆU</strong></a></li>
                <li><a href="#" title="ABOUT"><strong>BẢNG KIỂM</strong></a></li>
                <li><a href="#" title="MENU"><strong>MENU</strong></a></li>
                <li><a href="#" title="ENETS"><strong>TRỢ GIÚP</strong></a></li>
                <li><a href="#" title="CONTACTS"><strong>LIÊN HỆ</strong></a></li>
                <li><a href="#" title="dangxuat"><strong>ĐĂNG XUẤT</strong></a></li>


            </ul>
        </div>
        <div id = "abc">
            <div id ="tk">
                <div id ="timkiem">
                    <div class="box">
                        <input type="text" placeholder="" style="">
                        <a><i class="fas fa-search-location"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <a th:href="@{/admin/dish}"><button>Quay trở lại danh sách món ăn</button></a>
</p>
<div id="form">
    <h3>Chi tiết món ăn</h3>
    <form action="#" th:action="@{/admin/dish/delete}" th:object="${mainDish}" method="post">
        <fieldset>
            <legend>Thông tin món ăn</legend>
            <tr>
                <td></td>
                <label style="margin-right: 78px">ID </label></td>
                <td><input type="text" th:field="*{id}" readonly ></td></br>
            </tr>
            <tr>
                <td><label style="margin-right: 60px">Mô tả          </label></td>
                <td><input type="text" th:field="*{description}"></td></br>
            </tr>
            <tr>
                <td><label >Ảnh </label></td>
            </tr>
            </br>
            <tr>
                <td><img th:src="@{'/pictures2/' + ${mainDish.image}}" th:width="100px" th:height="100px"></td>
            </tr>
            </br>
            <tr>
                <td><label style="margin-right: 44px">Tên món         </label></td>
                <td><input type="text" th:field="*{name}"></td></br>
            </tr>
            <tr>
                <td><label style="margin-right: 50px">Đơn giá      </label></td>
                <td><input type="text" th:field="*{price}"></td></br>
            </tr>
        </fieldset>
    </form>
</div>
</body>
</html>