<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link th:href="@{/css/cart.css}" rel="stylesheet"/>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/homeDish.js" type="text/javascript"></script>

</head>
<body>
<div id="top">
    <div id="logo">
        <img src="/pictures2/logo2.png" style="width: 220px ;height: 100px">
    </div>
    <div id="top2">
        <div id="menu">
            <ul>
                <li><a href="#" title="HOME"><strong>HOME</strong></a></li>
                <li><a href="#" title="INTRODUCE"><strong>NGUYÊN LIỆU</strong></a></li>
                <li><a href="#" title="ABOUT"><strong>BẢNG KIỂM</strong></a></li>
                <li><a href="#" title="MENU"><strong>MENU</strong></a></li>
                <li><a href="#" title="ENETS"><strong>TRỢ GIÚP</strong></a></li>
                <li><a href="#" title="CONTACTS"><strong>LIÊN HỆ</strong></a></li>
                <li><a href="#" title="dangxuat"><strong>ĐĂNG XUẤT</strong></a></li>


            </ul>
        </div>
        <div id="abc">
            <div id="tk">
                <div id="timkiem">
                    <div class="box">
                        <input type="text" placeholder="" style="">
                        <a><i class="fas fa-search-location"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${message}">
    <h5 th:text="${message}"></h5>
</th:block>

<div class="container" style="background-color: antiquewhite;">
    <a th:href="@{/home/client/login}">
        <button>Đăng nhập</button>
    </a>
    <form th:action="@{/home/client/sign-up}" method="post" th:object="${client}" class="form-horizontal">
        <div class="from-group">
            <label class="control-label">Họ và tên</label>
            <input style="margin-left: 50px " type="text" class="form-control" th:field="*{name}">
        </div>
        <div class="from-group">
            <label style="float: left" class="control-label">Tài khoản</label>
            <input style="margin-left: 54px" type="text" class="form-control" th:field="*{account}">
        </div>
        <div class="from-group">
            <label style="float: left" class="control-label">Mật khẩu</label>
            <input style="margin-left: 57px" type="password" class="form-control" th:field="*{password}">
        </div>

        <div class="from-group">
            <label style="float: left" class="control-label">Số điện thoại</label>
            <input style="margin-left: 35px" type="text" class="form-control" th:field="*{numberContact}">
        </div>
        <div class="from-group">
            <label style="float: left" class="control-label">Địa chỉ</label>
            <input style="margin-left: 72px" type="text" class="form-control" th:field="*{address}">
        </div>

        <br/>
        <button type="submit" class="btn btn-success">Đăng kí</button>

    </form>
</div>
<footer>
    <div id="footer">
        <div id="ft1">
            <ul>
                <h2>Giới thiệu</h2>
                <a> Hệ thông cửa hàng</a>
                <a> Khuyến mại</a>
                <a> Tuyển dụng</a>
                <a> Liên hệ</a>
            </ul>
        </div>
        <div id="ft2">
            <img src="/pictures2/face.png" style="width: 20px; height: 20px">
            <img src="/pictures2/ims.png" style="width: 20px; height: 20px">
            <img src="/pictures2/tw.jpg" style="width: 20px; height: 20px">
            <img src="/pictures2/za.webp" style="width: 20px; height: 20px">
            <img src="/pictures2/you.png" style="width: 20px; height: 20px">
            <img src="/pictures2/gg.png" style="width: 20px; height: 20px">
            <img src="/pictures2/ggm.png" style="width: 20px; height: 20px">
        </div>
    </div>
</footer>
</body>
</html>
